.intro {
  color: black;
  padding: 24px;
  text-align: center;
}

.dates {
  font-weight: 900;
  color: #4682b4;
}

.account {
  color: black;
  padding: 16px;
}

.account li {
  padding: 8px;
}

.accounts h2 {
  color: black;
  text-align: center;
}
