.intro {
  text-align: center;
}

.intro ul {
  text-align: left;
}

.dates {
  font-weight: 900;
  color: #4682b4;
}

.account {
  color: black;
}

.account li {
  padding: 8px;
}

.card h2 {
  text-align: center;
}

.card {
  color: black;
  padding: 16px;
  margin: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}
