.transactions {
  font-size: small;
}

.transaction-card {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  margin-bottom: px;
  padding: 16px;
  position: relative;
}

.card-row-title {
  font-weight: bolder;
  color: #4682b4;
}

.card-row {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2px;
}

.is-centered {
  text-align: center;
}

.more-link {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
  color: #4682b4;
  text-decoration: underline;
}

.more-link:hover {
  background-color: white;
}

.more-detail {
  margin-top: 16px;
}

.positions {
  margin-top: 8px;
}

.transaction-date {
  color: black;
}

.summary {
  display: grid;
  grid-template-columns: 15% 40% 40% 5%;
}
.transaction-section {
  background-color: white;
  border: 1px dashed #4682b4;
  margin-top: 8px;
  margin-right: 32px;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  .summary {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
    padding-right: 8px;
  }

  .transaction-section {
    margin-right: 0px;
  }
}

.value {
  text-align: right;
}

.primary {
  color: #4682b4;
}

.bottom-margin {
  margin-bottom: 8px;
}
