* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #fff;
  color: #657a81;
  margin: 0;
}

h2 {
  font-size: 1em;
}

strong {
  color: #4682b4;
  font-weight: 900;
}

a:visited {
  color: #4682b4;
}
