* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #fdf6e3;
  color: #657a81;
  margin: 0;
  min-width: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ece7d5;
  opacity: 0.9;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.nav {
  font-size: 0.8em;
  margin: auto;
}

.header h1 {
  font-size: 1em;
  font-weight: bolder;
  color: #002b36;
}
